.env
/.env
SocialNetworkBE/.env
/SocialNetworkBE/.env
SocialNetworkBE/node_modules/
SocialNetworkFE/dist/
SocialNetworkFE/node_modules/
SocialNetworkFE/.angular/
SocialNetworkFE/.vscode/
SocialNetworkFE/.editorconfig/
.fake