/* Reset e stili globali */
* {
  color: #fff;
  box-sizing: border-box;
}

body {
  height: 100%;
}

/* Hero */
.hero {
  display: flex;
  justify-content: center;
  margin: 0;
}

header {
  background-color: #03080a00;
  display: flex;
  align-items: center;
  justify-content: left;
  height: 3.1rem;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.searchInput input {
  height: 2.2rem;
  width: 10rem;
  padding-left: 1rem;
  background-color: rgb(16, 24, 26);
  border: 0.1rem solid #0955757a;
  box-shadow: none;
  background-size: 2rem;
  border-radius: 4rem;
}

.searchInput img {
  width: 1.5rem;
  padding-right: 0.5rem;
}

.logout img {
  width: 1.7rem;
  padding: 0.5rem;
  cursor: pointer;
}

header .logo {
  width: 2rem;
  padding: 0.5rem;
}

.feed {
  height: 100%;
  margin-top: 0;
  background-color: #14232900;
  border-left: 0.1rergba (20, 35, 41, 0) #3d474f;
  border-right: 0.1rem solid #3d474f;
  width: 35rem;
}

.postForm {
  display: flex;
  justify-content: center;
}

.centralColumn input {
  height: 5rem;
  width: 100%;
  background-image: url("../../../assets/img/PostFeedIco.png");
  background-repeat: no-repeat;
  background-position: right center;
  padding-left: 1rem;
  background-color: #000000;
  border: none;
  box-shadow: none;
  background-size: 2.3rem;
  font-size: 150%;
}

.centralColumn input::placeholder {
  color: #11a2e0;
  opacity: 1;
}

.centralColumn input:hover {
  cursor: pointer;
}

.postFeed {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

hr {
  border: 0;
  height: 0.13rem;
  background: #252525;
}


/* Colonna destra search-lista utenti */
.rightColumn {
  background-color: #14232900;
  padding: 0 1rem;
  padding-right: 1.3rem;
  border-radius: 0.2rem;
  box-shadow: 0.01rem 0.01rem 0.5rem #00000057;
  position: sticky;
  top: 4rem;
  z-index: 1999;
  right: 21.15%;
  max-width: 12rem;
}

.userList ul {
  list-style-type: none;
}

.userList li {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 1rem 0;
  text-align: left;
}

.userList img {
  width: 2rem;
  padding-right: 0.5rem;
}

.userList hr {
  width: 10rem;
  height: 1px;
}

/*----------*/

input, h1 {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*@media only screen and (max-width: 1200px) {
  .rightColumn {
    display: none;
  }
}
*/
