/* Reset e stili globali */
* {
  color: #fff;
  box-sizing: border-box;
}

body {
  height: 100%;
}

input:focus {
  outline-width: 0;
}

/* Hero */
.hero {
  display: flex;
  justify-content: center;
  margin: 0;
}

/* Elementi con posizione sticky */
.sticky {
  position: sticky;
  top: 1rem;
}

.leftColumn {
  z-index: 2;
}

/* Colonna centrale post-profilo*/
.centralColumn {
  background-color: #000000;
  border-right: 0.13rem solid #252525;
  border-left: 0.13rem solid #252525;
  width: 35rem;
  height: 100%;
  z-index: 1;
}

.postForm {
  display: flex;
  justify-content: center;
}

.centralColumn .postForm input {
  height: 5rem;
  width: 100%;
  background-image: url("../../../assets/img/PostFeedIco.png");
  background-repeat: no-repeat;
  background-position: right center;
  padding-left: 1rem;
  background-color: #000000;
  border: none;
  box-shadow: none;
  background-size: 2.3rem;
  font-size: 150%;
}

.centralColumn .postForm input::placeholder {
  color: #11a2e0;
  opacity: 1;
}

.centralColumn .postForm input:hover {
  cursor: pointer;
}

.postFeed {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

hr {
  border: 0;
  height: 0.13rem;
  background: #252525;
}

/* Colonna destra search-lista utenti */
.rightColumn {
  background-color: #14232900;
  padding: 0 1rem;
  padding-right: 1.3rem;
  position: sticky;
  top: 0;
  z-index: 999;
  width: 15rem;
  margin: 0.9rem 0.9rem;
  font-size: 100%;
}

.rightColumn .inputSearch {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightColumn input {
  height: 2.1rem;
  width: 100%;
  padding-left: 1rem;
  background-color: #252525;
  border: none;
  box-shadow: none;
  background-size: 2rem;
  border-radius: 4rem;
  background-image: url("../../../assets/img/SearchIco.png");
  background-repeat: no-repeat;
  background-position: right center;
}

.rightColumn .magnifyingGlass {
  width: 1.7rem;
  padding: 0.5rem;
  margin-left: auto;
}

.rightColumn input::placeholder {
  color: #c2c2c2a1;
}

.userList {
  background-color: #252525;
  padding: 0.1rem 1rem;
  border-radius: 1rem;
  margin-top: 1rem;
}

.userList h1 {
  font-size: 190%;
  margin-top: 0.6rem;
  margin-bottom: 0.4rem;
  font-weight: 400;
}

.userList ul {
  list-style-type: none;
}

.userList li {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 1rem 0;
  text-align: left;
  cursor: pointer;
}

.userList img {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.userList hr {
  width: 10rem;
  height: 1px;
}

/*----------*/

input,
h1,
img,
#likesCommentsRow a {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
