<header>
  <img class="logo" src="../../../assets/img/login_bg.jpg" />
</header>

<div class="hero">
  <app-nav />

  <div class="feed">
    <div class="feedInput">
      <input type="text" placeholder="What's Happening?" />
    </div>
    <hr />
    <div class="feedPost">
      <app-post />
      <img
        src="https://images.lonelyplanetitalia.it/static/places/new-york-city-319.jpg?q=90&p=2400%7C1350%7Cmax&s=d0b66f564422dd0d2d51bc78ee7c7dbd"
      />
      <img
        src="https://images.lonelyplanetitalia.it/static/places/new-york-city-319.jpg?q=90&p=2400%7C1350%7Cmax&s=d0b66f564422dd0d2d51bc78ee7c7dbd"
      />
      <img
        src="https://images.lonelyplanetitalia.it/static/places/new-york-city-319.jpg?q=90&p=2400%7C1350%7Cmax&s=d0b66f564422dd0d2d51bc78ee7c7dbd"
      />
      <img
        src="https://images.lonelyplanetitalia.it/static/places/new-york-city-319.jpg?q=90&p=2400%7C1350%7Cmax&s=d0b66f564422dd0d2d51bc78ee7c7dbd"
      />
    </div>
  </div>

  <div class="userList">
    <ul>
      <li><a>Current users:</a></li>
      <hr />
      <li><img src="../../assets/img/UserIco.png" /><a>Pino Pane</a></li>
      <hr />
      <li><img src="../../assets/img/UserIco.png" /><a>Pino Pane</a></li>
      <hr />
      <li><img src="../../assets/img/UserIco.png" /><a>Pinuzzo Panino</a></li>
      <hr />
      <li><img src="../../assets/img/UserIco.png" /><a>Pino Pane</a></li>
      <hr />
      <li><img src="../../assets/img/UserIco.png" /><a>Pino Pane</a></li>
      <hr />
      <li><img src="../../assets/img/UserIco.png" /><a>Pino Pane</a></li>
      <hr />
      <li><img src="../../assets/img/UserIco.png" /><a>Pino Pane</a></li>
      <hr />
      <li><img src="../../assets/img/UserIco.png" /><a>Pino Pane</a></li>
    </ul>
  </div>
</div>
