<div class="wrapper">
  <section class="profile">
    <header>
      <div class="username">{{ userEdit.fullName }}</div>
      <div class="imgContainer">
        <img [src]="userEdit.imgProfile" alt="User imgProfile" />
      </div>
    </header>

    <div class="content">
      <h2>Image Profile</h2>
      <input
        type="text"
        value="userEdit.imgProfile"
        [(ngModel)]="userEdit.imgProfile"
      />
    </div>

    <div class="content">
      <h2>Fullname</h2>
      <input
        type="text"
        value="userEdit.fullname"
        [(ngModel)]="userEdit.fullName"
        class="input-field"
        maxlength="18"
      />
    </div>

    <div class="content">
      <h2>Birthday</h2>
      <input
        type="date"
        value="userEdit.dob"
        [(ngModel)]="userEdit.dob"
        class="input-field"
      />
    </div>
    <div class="content">
      <h2>Email (Not available yet)</h2>
      <input
        type="email"
        value="{{ userEdit.email }}"
        [(ngModel)]="userEdit.email"
        class="input-field"
        readonly
      />
    </div>
    <div>
      <button
        routerLink="/loggedProfile"
        class="edit-button"
        (click)="onEdit()"
      >
        Edit Profile
      </button>
    </div>
  </section>
</div>
