<mat-card class="container">
  <div class="wrapper">
    <section class="post">
      <header>Create Post</header>
        <div class="content">
          <img mat-card-avatar [src]="userAuth.imgProfile" alt="Icon" />
          <div class="details">
            <mat-card-title>{{ userAuth.fullName }}</mat-card-title>
          </div>
        </div>
        <input type="text" placeholder="url image ..." [(ngModel)]="url">
        <div >
          <img [src]="url" style="height: 100px; width:100px" alt="">
        </div>
        <input type="textarea" placeholder="What's on your mind?" spellcheck="false" required/>
        <button>Post</button>
    </section>
  </div>
</mat-card>
