.example-card {
  max-width: 400px;
  border: 2px solid black;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: black;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");

  background-size: cover;
}

.comment-container {
  background-color: rgb(19, 72, 89);
  width: 100%;
  height: auto;
  color: rgb(255, 255, 255);
  padding: 10px;
  margin-bottom: 10px;
}

.comment-container img {
  width: 100%;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment-text {
  display: flex;
  align-items: center; /* Centra verticalmente il testo rispetto all'immagine */
}

.container-comment-form {
  display: flex;
  align-items: center;
}

.comment-form {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  font-size: 16px;
}
