.example-card {
  width: 480px; /* Aumenta la larghezza */
  margin: 20px auto; /* Centra la card orizzontalmente */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #fff;
  background-color: #333;
}

/* Rimuovi i commenti */
img[mat-card-avatar] {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

mat-card-title {
  font-size: 18px;
}

mat-card-subtitle {
  font-size: 14px;
  color: #ccc;
}

img[mat-card-image] {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

mat-card-content {
  padding: 16px;
}

.comment-container {
  margin-top: 10px;
  padding: 10px;
  border-top: 1px solid #555;
}

.comment-text {
  margin-top: 5px;
}

.container-comment-form {
  padding: 10px;
  border-top: 1px solid #555;
}

.comment-form {
  width: calc(100% - 80px);
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #555;
  border-radius: 5px;
  color: #333;
  background-color: #fff;
}

button {
  padding: 8px 16px;
  border: none; 
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

