<div class="profile">
  <div class="profile-header">
    <div class="profile-images">
      <div class="banner"></div>
      <img
        class="profile-picture"
        [src]="userAuth.imgProfile"
        alt="Profile Picture"
      />

      <div class="mat-icons">
        <mat-icon routerLink="/edit-user/{{ userAuth.id }}">edit</mat-icon>
        <mat-icon routerLink="/deleteUser/{{ userAuth.id }}">delete</mat-icon>
      </div>
    </div>
    <div class="profile-details">
      <div>
        <h1 class="profile-name">{{ userAuth.fullName }}</h1>
        <h2>{{ userAuth.email }}</h2>
        <h3 class="profile-birthday">{{ userAuth.dob }}</h3>
        <h3 *ngIf="userAuth.role == 'ADMIN'">{{ userAuth.role }}</h3>
      </div>
    </div>
  </div>
  <div class="profile-content">
    <div class="section-title">
      <h2>Posts</h2>
    </div>
    <hr />
    <div *ngFor="let post of posts">
      <div *ngIf="post.user.id == userAuth.id">
        <div>
          <app-posts [post]="post" />
        </div>
      </div>
    </div>
  </div>
</div>
