<body>

<div class="container">
    <div class="profile">
      <div class="profile-header">
        <img class="profile-picture" [src]="" alt="Profile Picture">
        <div class="profile-details">
          <h1 class="profile-name">{{user.fullName}}</h1>
          <p class="profile-bio"></p>
        </div>
      </div>
      <div class="profile-content">
        <h2 class="section-title">Posts</h2>
        <div class="post">
          <img class="post-image" src="post1.jpg" alt="Post Image">
          <p class="post-text"></p>
        </div>
      </div>
    </div>
  </div>
    
</body>