/* Reset e stili globali */
* {
  color: #f1f1f1;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Navbar */
.navbar {
  position: relative;
  z-index: 999;
  height: 100%;
}

/* Logo */
.logo {
  background-color: #14232900;
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 1rem 1rem;
  height: 3rem;
  width: 11rem;
  padding: 0.1rem 0.8rem;
  font-size: large;
}

.logo img {
  width: 100%;
}

/* Elementi di navigazione */
.navContent {
  background-color: #14232900;
  font-weight: bold;
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 0.7rem 1.5rem;
  height: 3rem;
  width: 11rem;
  padding: 0.1rem 0.8rem;
  border-radius: 3rem;
  font-size: large;
}

.navContent:hover,
.bottomContent:hover {
  background-color: #c2c2c23b;
  cursor: pointer;
}

.navContent img,
.bottomContent img {
  width: 1.8rem;
  padding-right: 0.5rem;
}

/* Link */
.navContent a:link,
.navContent a:visited,
.navContent a:hover,
.navContent a:active,
.navButton a:link,
.navButton a:visited,
.navButton a:hover,
.navButton a:active,
.bottomContent a:link,
.bottomContent a:visited,
.bottomContent a:hover,
.bottomContent a:active {
  color: #f1f1f1;
  text-decoration: none;
}

/* Pulsante di post */
.navButton {
  background: linear-gradient(to right, #0b6389, #0aa5e7);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.9rem 1.5rem;
  height: 3rem;
  width: 11rem;
  padding: 0.1rem 0.8rem;
  border-radius: 3rem;
  box-shadow: 0.01rem 0.01rem 0.5rem #00000057;
  font-size: large;
}

.navButton:hover {
  background: linear-gradient(to right, #118bc0, #2bc0ff);
  cursor: pointer;
}

/* Dropdown delle notifiche */
#notificationDropdownContent {
  background-color: #142329;
  border: 0.1rem solid #3d474f;
  box-shadow: none;
  border-radius: 0.3rem;
  z-index: 1000;
  position: absolute;
  max-width: 15rem;
  max-height: 5rem;
  left: 14rem;
  display: none;
}

#notificationDropdown:hover #notificationDropdownContent {
  display: block;
}

/* Menu a comparsa delle notifiche */
.hiddenNotificationMenu {
  display: none;
}

#notifications:hover .hiddenNotificationMenu {
  display: block;
  margin-left: 3rem;
  padding: 1rem;
  width: 15rem;
  background-color: rgb(0, 0, 0);
  border: 1px solid #252525;
  border-radius: 0.5rem;
  font-size: small;
}

/* logout */
.bottomContent {
  background-color: #00000000;
  font-weight: bold;
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 0.7rem 1.5rem;
  height: 3rem;
  width: 11rem;
  padding: 0.1rem 0.8rem;
  border-radius: 3rem;
  font-size: large;
  position: fixed;
  bottom: 0;
}
