<nav class="navbar">
  <div class="logo">
    <img src="../../../assets/img/logoalt.png" />
  </div>
  <div class="navContent">
    <img src="../../assets/img/HomeIco.png" /><a href="#">Home</a>
  </div>
  <div id="notifications" class="navContent">
    <img src="../../assets/img/NotificationIco.png" /><a href="#"
      >Notifications</a
    >
    <div class="hiddenNotificationMenu">
      <a>aaaaaaaaaaaaaaaaaa</a>
    </div>
  </div>
  <div class="navContent">
    <img src="../../assets/img/UserIco.png" /><a href="#">Profile</a>
  </div>
  <div class="navButton">
    <a href="#">Post</a>
  </div>
  <div class="bottomContent" (click)="openDialog()">
    <img src="../../assets/img/ExitIco.png" /><a>Log out</a>
  </div>
</nav>
