<nav class="navbar">
  <div class="navContent">
    <img src="../../assets/img/SearchIco.png" /><input
      type="text"
      placeholder="Search SocialBan"
    />
  </div>
  <div class="navContent">
    <img src="../../assets/img/HomeIco.png" /><a href="#">Home</a>
  </div>
  <div class="navContent">
    <img src="../../assets/img/NotificationIco.png" /><a href="#"
      >Notifications</a
    >
  </div>
  <div class="navContent">
    <img src="../../assets/img/PostIco.png" /><a href="#">Post</a>
  </div>
  <div class="navContent">
    <img src="../../assets/img/UserIco.png" /><a href="#">Profile</a>
  </div>
</nav>
