<div class="profile">
  <div class="profile-header">
    <img
      class="profile-picture"
      [src]="userProfile.imgProfile"
      alt="Profile Picture"
    />
    <div class="profile-details">
      <div>
        <h1 class="profile-name">{{ userProfile.fullName }}</h1>
        <h2>{{ userProfile.email }}</h2>
        <h3>{{ userProfile.dob }}</h3>
        <h3>{{ userProfile.role }}</h3>
      </div>

      <div *ngIf="userAuth.role == 'ADMIN'">
        <mat-icon>edit</mat-icon>
        <mat-icon routerLink="/deleteUser/{{userProfile.id}}">delete</mat-icon>
      </div>
    </div>
  </div>
  <div class="profile-content">
    <h2 class="section-title">Posts</h2>
    <div *ngFor="let post of posts">
      <div *ngIf="post.user.id == userProfile.id">
        <div>
          <app-posts [post]="post" />
        </div>
      </div>
    </div>
  </div>
</div>
