<div class="wrapper">
  <section class="post">
    <header>Edit Post: {{ postItem.title }}</header>
    <form>
      <input
        name="title"
        type="text"
        placeholder="Title.."
        value="postItem.title"
        [(ngModel)]="postItem.title"
      />
      <input
        name="description"
        type="textarea"
        placeholder="Description"
        spellcheck="false"
        value="postItem.description"
        [(ngModel)]="postItem.description"
        required
      />
      <input
        name="image"
        type="text"
        placeholder="Url image ..."
        value="postItem.image"
        [(ngModel)]="postItem.image"
      />
      <div class="imgContainer">
        <img [src]="postItem.image" alt="" />
      </div>

      <button (click)="onEdit()" routerLink="/posts">Edit Post</button>
    </form>
  </section>
</div>


