.post {
  max-height: 100%;
  padding: 0.9rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.postComponent {
  margin-left: 3rem;
  margin-right: 1rem;
}

.userPfp img {
  margin-top: 0.3rem;
  width: 2.5rem;
  position: absolute;
  border-radius: 100%;
}

.post h2 {
  margin: 0;
  margin-top: 0.5rem;
  padding: 0;
  height: 1.6rem;
  font-size: 115%;
  font-weight: 500;
}

.post a {
  margin: 0;
  padding: 0;
  color: #f3f3f3ee;
}

#userNameAndDate {
  display: flex;
  align-items: baseline;
  justify-content: left;
}

.postDate {
  max-width: 200rem;
}

.postDate h2 {
  font-weight: 100;
  font-size: 80%;
  margin-left: 0.5rem;
  color: #e4e4e4d8;
}

.dropdown {
  position: relative;
  display: inline-block;
  display: flex;
  justify-content: right;
  top: -1.5rem;
  height: 2.3rem;
}

.dropdown span {
  font-size: 200%;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  flex-direction: column;
  background-color: #050505;
  border: 0.1rem solid #3d474f;
  box-shadow: none;
  border-radius: 0.3rem;
  z-index: 1000;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 0.1rem 1rem;
  padding-bottom: 0.75rem;
  right: 0;
  margin-top: 0.2rem;
}

mat-icon {
  cursor: pointer;
  margin-top: 0.65rem;
  margin-right: 0.5rem;
}

.edit,
.delete {
  display: flex;
  align-content: center;
}

.dots:hover .dropdown-content {
  display: flex;
}
.dots {
  z-index: 99;
}

.post .postImage img {
  max-width: 29.74rem;
  border-radius: 1rem;
  border: 1px solid rgb(39, 39, 39);
  margin-left: 3rem;
  margin-top: 0.6rem;
  cursor: pointer;
  max-height: 30rem;
  position: relative;
}

.postInteraction {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  display: flex;
  justify-content: space-evenly;
  width: 29.74rem;
}

#likesCommentsRow img {
  width: 1.5rem;
  margin: 2px;
}

#likesCommentsRow a {
  color: #959595;
}

#likes,
#comments {
  display: flex;
  align-items: center;
  cursor: pointer;
}

#addComment input {
  background-color: #00000000;
  border: none;
  width: 100%;
  margin-top: 0.5rem;
}

.imageProfile {
  background: #fff;
  object-fit: cover;
}

.postInteraction {
  display: flex;
}

/* Comment Section */
.comments-container {
  width: 100%;
  max-height: 15rem;
  overflow: scroll;
}

.comment-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 0.5rem 0;
  width: 29.74rem;
  margin-left: 3rem;
  margin-top: -0.6rem;
}

.comment-userInfos {
  display: flex;
  align-items: center;
}

.comment-userPfp img {
  width: 2rem;
  border-radius: 50%;
}

.comment-username {
  cursor: pointer;
  margin-bottom: 0.4rem;
  margin-left: 0.5rem;
}

.comment {
  margin-left: 2.5rem;
  margin-top: -0.4rem;
  word-wrap: break-word;
}

.comment-date {
  font-size: 70%;
  color: #e4e4e4d8;
}

#addComment {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  display: flex;
  font-weight: bold;
  align-content: center;
  color: white !important;
}

#comment-button {
  background-color: transparent;
  border: none;
  border-radius: 1rem;
  margin-top: 0.5rem;
  color: white;
  cursor: pointer;
}

.comments-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.comments {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

input {
  user-select: none;
}

hr {
  border: 0;
  height: 0.13rem;
  background: #252525;
}

/* TODO: Fix 3 dots menu position*/
