<div class="post">
  <div
    class="userPfp"
    routerLink="/profileUser/{{ post.user.id }}"
    style="cursor: pointer"
  >
    <img [src]="post.user.imgProfile" alt="userIcon" class="imageProfile" />
  </div>
  <div id="postTopContent" class="postComponent">
    <div id="userNameAndDate">
      <h2 routerLink="/profileUser/{{ post.user.id }}" style="cursor: pointer">
        {{ post.user.fullName }}
      </h2>
      <div class="postDate">
        <h2>· {{ post.createdAt | date : "HH:mm, dd MMMM yyyy" }}</h2>
      </div>
    </div>

    <div class="dropdown" [style]="isOwner ? 'display: flex' : 'display:none'">
      <div class="dots">
        <span>...</span>
        <div class="dropdown-content">
          <div class="edit">
            <mat-icon routerLink="/editPost/{{ post.id }}">edit</mat-icon>
            <h2>Edit</h2>
          </div>
          <div class="delete">
            <mat-icon routerLink="/deletePost/{{ post.id }}">delete</mat-icon>
            <h2>Delete</h2>
          </div>
        </div>
      </div>
    </div>

    <div>
      <h2>{{ post.title }}</h2>
      <a>{{ post.description }}</a>
    </div>
  </div>
  <div class="postImage">
    <!-- <video [src]="post.image"></video> -->
    <img [src]="post.image" />
  </div>
  <div id="likesCommentsRow" class="postComponent">
    <div class="postInteraction">
      <div id="likes" (click)="pushLikes(post.id)">
        <img src="../../../assets/img/LikeIco.png" />
        <a>{{ post.likes.length }}</a>
      </div>
      <div id="comments">
        <label for="{{ post.id }}">
          <img src="../../../assets/img/CommentIco.png" />
        </label>
        <a>{{ post.comments.length }}</a>
      </div>
    </div>
  </div>
  <div class="comments-container">
    <div class="comment-container" *ngFor="let comment of post.comments">
      <div class="comment-userInfos">
        <div class="comment-userPfp">
          <img
            class="imageProfile"
            [src]="comment.user.imgProfile"
            alt="Icon"
          />
        </div>

        <div
          class="comment-username"
          routerLink="/profileUser/{{ comment.user.id }}"
        >
          <span>{{ comment.user.fullName }}</span>
        </div>
      </div>

      <div class="comment">
        <div class="comment-text">
          <span>{{ comment.text }}</span>
        </div>

        <div class="comment-date">
          {{ comment.createdAt | date : "HH:mm, dd MMMM yyyy" }}
        </div>
      </div>
    </div>
  </div>
  <div id="addComment" class="postComponent">
    <input
      type="text"
      autocomplete="off"
      id="{{ post.id }}"
      placeholder="Aggiungi un commento..."
      [(ngModel)]="comment.text"
      name="comment"
    />
    <button id="comment-button" (click)="pushComment(post.id)">Publish</button>
  </div>
</div>
<hr />
