<div class="container">
  <div class="wrapper">
    <section class="post">
      <header>Create Post</header>
      <form action="#">
        <div class="content">
          <img src="icons/logo.png" alt="logo" />
          <div class="details">
            <p>SocialBan</p>
          </div>
        </div>
        <textarea
          placeholder="What's on your mind"
          spellcheck="false"
          required
        ></textarea>
        <div class="options">
          <p>Add to Your Post</p>
          <ul class="list">
            <li>
              <i class="fa-regular fa-image"></i>
            </li>
            <li class="emoji-selector" id="emojiSelector">
              <i class="fa-regular fa-face-smile"></i>
            </li>
          </ul>
        </div>
        <button>Post</button>
      </form>
    </section>
  </div>
</div>